
*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://th.bing.com/th/id/R.2ae1b51b5d349484561c5b7e597b4277?rik=x%2bYwxa6DQbhjPg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-6DD537VQEww%2fUPltOfug5QI%2fAAAAAAAA0N4%2fRAybyajxjKg%2fs1600%2fFondo-Negro-Patron-de-Luz-Abstrato_Fondos-de-Pantalla-Abstratos.jpg&ehk=47AaBn9h%2fUrzvUNjSAJEXXP6M5sXm%2biy0W%2be2EdpGrI%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/501f18de-81d5-4cee-b450-1d18b1f12c59/d61lrcg-e587c3d8-3d27-4132-aeea-2f4047524398.png/v1/fill/w_894,h_894,q_75,strp/crysis_nano_suit_surface_by_molecube-d61lrcg.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi81MDFmMThkZS04MWQ1LTRjZWUtYjQ1MC0xZDE4YjFmMTJjNTkvZDYxbHJjZy1lNTg3YzNkOC0zZDI3LTQxMzItYWVlYS0yZjQwNDc1MjQzOTgucG5nIiwid2lkdGgiOiI8PTg5NCIsImhlaWdodCI6Ijw9ODk0In1dXX0.Rw6dvWTpZIBJ5BputUTECZ0Y6fl35yZeFr1eo4L9yfU
 
https://wallpaperaccess.com/full/2797216.jpg


*/